span{
    font-weight: bolder;
    color: rgb(94, 0, 0);
    cursor: pointer;
}
.button{
    background-color: rgb(94, 0, 0) !important;
    color: white !important; 
}
.form{
    width: 90%;
}
.title{
    font-weight: bold;
    font-size: xx-large;
    color: rgb(94, 0, 0);
    margin: 4%;
}
.Home{
    background-image: url('./image/corina-rainer-P2wLo_PzHjU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}